{{define "app"}}
    <!DOCTYPE html>
    <html lang="en">
    {{/* head 标签 */}}
    {{template "head_tag" .}}
    <body>
    {{/*  头部导航  */}}
    {{template "header" .}}
    {{/* 消息提示 */}}
    {{template  "messages" .}}
    {{/* 页面主体 */}}
    {{template "main" .}}

    {{/* 页面尾部 */}}
    {{template "footer" .}}
    </body>
    {{/* script JS脚本引入*/}}>
    {{template "script" .}}
    </html>
{{end}}