{{define "script"}}
    <!-- JS libraries, plugins and custom scripts -->
    <!-- Bootstrap JS -->
    <script src="/assets/vendor/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <!-- Vendors -->
    <script src="/assets/vendor/tiny-slider/dist/tiny-slider.js"></script>
    <script src="/assets/vendor/glightbox-master/dist/js/glightbox.min.js"></script>
    <script src="/assets/vendor/plyr/plyr.js"></script>
    <script src="/assets/vendor/dropzone/dist/dropzone.js"></script>
    <script src="/assets/vendor/flatpickr/dist/flatpickr.min.js"></script>
    <script src="/assets/vendor/choices.js/public/assets/scripts/choices.min.js"></script>
    <script src="/assets/vendor/pswmeter/pswmeter.min.js"></script>

    <!-- Theme Functions -->
    <script src="/assets/js/functions.js"></script>
{{end}}