{{define "simple"}}
    <!DOCTYPE html>
    <html lang="en">
    {{template "head_tag" .}}
    <body>
    {{/* 消息提示 */}}
    {{template  "messages" .}}

    {{template "main" .}}

    {{template "script" .}}
    </body>

    </html>
{{end}}